body{
    height: 100%;
    margin: 0;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}


#container{

    height: 980px;
    width: 100%;
    background-size: cover;
    background-color: #2F4F4F;


}
#box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#menu{
    height: 100%;
    width: 20%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}

button{
    width:250px ;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}


#jogo{
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}



#stage{

    border:3px solid #28262C;
    border-radius:20px 20px 0 0;
}



#nada{
    height: 100%;
    width: 20%;
}